{% extends 'base.html' %}
<html>
<head>
    <title>home page</title>
</head>
<body>
{% block content %}
    <d1>
    <dt class="font-weight-bold">
       About Founder:
    </dt>
    <dd>Contant abour founder</dd>
    <dt class="font-weight-bold">
       About Founder:
    </dt>
    <dd>Contant abour founder</dd>
    <dt class="font-weight-bold">Achievements</dt>
    <ol>
        <li>So many students placed in MNCs.</li>
        <li>So many students placed in MNCs.</li>
        <li>So many students placed in MNCs.</li>
        <li>So many students placed in MNCs.</li>
        <li>So many students placed in MNCs.</li>
        <li>So many students placed in MNCs.</li>
    </ol>
    </d1>
{% endblock %}
</body>
</html>